.header {
  max-width: 1440px;
  height: 94px;
  background-color: var(--black-1);
  color: var(--gray-3);
  padding: 26px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  z-index: 1;

  border-bottom: 1px solid var(--primary);
  background: var(--black-1);
}

.header .button {
  background: transparent;
  color: var(--white);
  width: 180px;
  height: 54px;
  border: 1px solid var(--white);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3125rem;
  transition: opacity 0.1s ease-in;
}

.header .button:hover {
  opacity: 0.95;
}