.container{
  max-width: 960px;
  height: 60vh;
  margin: 0 auto;
  padding: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container img{
  width: 200px;
}

.container h2{
  font-size: 2rem;
  color: var(--white);
  font-weight: 400;
  margin-bottom: 2rem;
}

.link{
  padding:1rem 2rem;
  background: var(--primary);
  color: var(--white);
  cursor: pointer;
}

.link:hover{
  background: #2A7AE490;
}